.Products-item {
  box-shadow: 1px 1px 11px -4px #00000042;
  border-radius: 5px;
  flex: 1 0 20%;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  .Products-item {
    flex: 1 0 calc(40%);
  }
}

@media screen and (max-width: 480px) {
  .Products-item {
    flex: 1 0 100%;
  }
}

.Products-item figure {
  position: relative;
  margin: 0;
}
.Products-item figure img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}
.Products-item figure .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.Products-item h2 {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.Products-item-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Products-item .price {
  font-size: 0.8rem;
  margin: 0;
  color: #3a3a3a
}
/* .Products-item .description {
  font-size: 0.9rem;
  font-weight: 300;
} */


.Products-item .Product-item-addcart {
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  width: 100%;
  padding: 0.7rem;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
}
.Products-item .Product-item-addcart:hover {
  background-color: rgba(39,44,49,0.06);
}


.Products-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  z-index: 9;
}

.Products-item:hover .overlay {
  opacity: 1;
}